$font-family-sans-serif: facit, "Helvetica Neue", Arial, sans-serif;
$font-weight-semibold: facit_semibold, "Helvetica Neue", Arial, sans-serif;

$body-bg: #f4f4f4;
$blue: #324c89;
$light: white;
$danger: #d84c50;
$success: #5cae5f;

$am_gray: #9097ac;
$am_dark: #2d2d2d;

$tooltip-bg: $am_dark;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 1rem;

$border-radius: 0.35rem;
$border-radius-lg: 0.45rem;
$border-radius-sm: 0.25rem;

$card-cap-bg: #f7f7f7;

$input-btn-focus-width: 0rem;
$input-border-color: #e5e5e7;
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "facit";
  src: url("../fonts/facit-regular.eot");
  src: url("../fonts/facit-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/facit-regular.woff") format("woff"),
    url("../fonts/facit-regular.ttf") format("truetype");
}

@font-face {
  font-family: "facit";
  src: url("../fonts/facit-light.eot");
  src: url("../fonts/facit-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/facit-light.woff") format("woff"),
    url("../fonts/facit-light.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "facit";
  src: url("../fonts/facit-bold.eot");
  src: url("../fonts/facit-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/facit-bold.woff") format("woff"),
    url("../fonts/facit-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "facit_semibold";
  src: url("../fonts/facit-semibold.eot");
  src: url("../fonts/facit-semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/facit-semibold.woff") format("woff"),
    url("../fonts/facit-semibold.ttf") format("truetype");
}

button[disabled] {
  cursor: inherit !important;
}

.modal-body {
  padding-top: 3rem;
}
.modal-footer {
  justify-content: center;
  border: 0;
  padding-bottom: 2rem;
}

.h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.h2 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  font-family: $font-weight-semibold;
}

.h3 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
}

.font-weight-semibold {
  font-family: $font-weight-semibold;
}

.gray,
.gray:hover {
  color: $am_gray !important;
}

.red {
  color: $danger;
}
.second-blue,
.second-blue:hover {
  background-color: #4367a2;
}
.blue,
.blue:hover {
  background-color: $primary;
}
.light-blue,
.light-blue:hover {
  background-color: #b4c7e7;
}

.dark,
.dark:hover {
  color: $am_dark !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
  padding-right: inherit;
  &:focus {
    border-color: $danger !important;
  }
}

.btn {
  i {
    font-size: 75%;
    @extend .ml-1;
  }

  &.rounded {
    border-radius: 3em !important;
  }

  &.btn-danger-reverse {
    color: $danger;
    border-color: $danger;
  }
}

.form-control {
  &.rounded {
    border-radius: 3em !important;
    background-color: $input-border-color !important;
    @extend .px-3;
    -webkit-appearance: none;
    appearance: none;
  }

  &.ico-search {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWpJREFUeNq0VdFNxDAMTSoW6AplhN4I1wlQ+4fEFytcR7iOcH8g+CKCBdoR7kYgI3AjFAe9SMFy3UgUS1alxHn2c15cO8+zsdYabi9P7xV9WvKavMTylfxC7u4f7rxZMcvBCTQAHeCaDcEpyTULHMAjqs2xwKJZSnDDKpaAJ3iwPTxajTM7tXICD204sqo63lvcxRsroqe4QQR/ff4IVX/l0hVYhrhbHl/g+8jOd9pFYa9Plkooy0jgVVp1jswoZgLDtP/r4CbfUnbVErhhFDexCO61ChRTGRfCRk1q2K+hIiYF90vgjvXvBLkZRYon1nsngkNaA6N7lhjQWpDtJ6tanDF8tozseUe6PpGbxGjCK71oaukEelUyU5ZaFfZGKq5WRy4YxJFbKvruAdqy9SYysEs/CyRpUXmdqMrTYYf9OBVLKYEKnmNaguKvrxAtaJiUQ6JjscUzFxL83Emx1RxJErhfPf8v+xZgAKHzqd9UjKEaAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
    padding-right: 30px !important;
  }
}

select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1JREFUeNpiXLxgrTEDA4MLA5GABaq4g1gNTEA8C4jPEql+FiOIBDpLEEjtBmJjfIpjE4LTGWE8AprAikEMRmRRHJrgijE0YNGEohgnAGmCBjcGYPz//z8DKQAgwADytiBiwRSFAAAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 8px;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus,
input:focus {
  border-color: $input-border-color !important;
}

label.mini-label {
  position: absolute;
  top: -5px;
  background: white;
  line-height: 1;
  font-size: 0.8em;
  left: 17px;
  padding: 0 4px;
  color: $am_gray;
  display: block;
}

input:placeholder-shown + label.mini-label {
  display: none;
}

body {
  letter-spacing: 0.1px;
  min-width: 320px;
  line-height: 1.3;
}

header {
  background-color: $white;
  height: 50px;
  margin-bottom: 30px;
  text-align: center;
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
  padding: 0 $grid-gutter-width / 2;
  position: relative;
  img.logo {
    height: 24px;
    margin: 5px 25px 2px;
  }
  .left-col {
    @extend .text-primary;
    position: absolute;
    line-height: 50px;
    left: 2%;
    top: 0;
    float: left;
    .back-arrow {
      top: 5px;
      position: relative;
      cursor: pointer;
    }
  }

  .tagline {
    font-size: 14px;
    margin: 0px 25px;
  }

  .right-col {
    @extend .text-primary;

    position: absolute;
    line-height: 50px;
    right: 0;
    top: 0;
    float: right;
    svg {
      top: 2px;
      position: relative;
    }
  }
  .fa-power-off {
    cursor: pointer;
  }

  .languagepicker {
    display: inline-block;
    padding: 0;
    width: 46px;
    height: 50px;
    overflow: hidden;
    margin: 0 0 0 10px;
    vertical-align: top;

    &:hover {
      height: auto;
    }

    a {
      display: block;
    }
    li {
      background-color: $white;
      display: block;
      padding: 0px 15px;
      line-height: 50px;
      &.pointer {
        cursor: pointer;
      }
      img {
        height: 12px;
      }
    }
  }
}

.section {
  @extend .bg-white;
  @extend .px-3;
  @extend .py-3;
  @extend .mb-2;
  @extend .shadow-sm;

  &.radius {
    border-radius: 0.4em;
  }

  .form-group {
    @extend .mb-4;
  }

  &.search-section {
    @include media-breakpoint-down(sm) {
      background-color: transparent !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}

.row-thin {
  margin-right: -5px;
  margin-left: -5px;

  .col-thin {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.list-filter-buttons {
  button {
    @extend .mr-2;
    @extend .mb-2;
  }
}
.search-record-nav {
  @include make-col-ready;

  @include media-breakpoint-up(md) {
    @include make-col(5);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(3);
  }

  .row {
    @extend .row-thin;

    .col {
      @extend .col-thin;
    }
  }

  .section {
    @extend .px-2;
  }

  .switcher {
    height: 38px;
    font-size: 14px;
    width: 100%;
    ul {
      height: 38px;

      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
    li {
      padding: 0 15px;
      height: 36px;
      line-height: 1;
      width: 50%;
      width: 50%;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      button {
        outline: 0;
        text-transform: none;
        vertical-align: bottom;
      }
    }
  }
}

.section-title {
  @extend .pl-3;
  @extend .mb-2;

  &.mb-0 {
    margin-bottom: 0 !important;
  }

  &.mt-0 {
    margin-top: 0 !important;
  }

  @extend .h5;
  @extend .font-weight-semibold;
  color: $blue;

  i {
    @extend .ml-2;
    font-style: italic;
    font-size: 80%;
    font-weight: normal;
    color: #9097ac;
  }
}
.section-market {
  @include media-breakpoint-up(md) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.section-title-link {
  @extend .h6;
  @include media-breakpoint-down(xs) {
    display: block;
    text-align: left;
  }
  text-align: right;
  a {
    color: $am_gray;
  }
}

.spinner {
  text-align: center;
  height: 75px;

  .fa-spinner {
    display: none;
  }
}
.dealer-list,
.car-list {
  @include media-breakpoint-down(xs) {
    margin: 0 0;
    display: block;
  }

  &.load + .spinner {
    .fa-spinner {
      display: inline-block;
    }
  }

  a.link-card {
    .salesInfo {
      top: -15px;
      margin-bottom: 0;
    }

    .card {
      border: 0;
      color: $am_gray;
      @extend .shadow-sm;

      .status {
        min-height: 2rem;
        line-height: 2rem;
        padding: 0 1rem;
        font-size: 0.85rem;
        border-radius: $border-radius $border-radius 0 0;
      }

      .card-head {
        position: relative;
        margin: 0 auto;
        width: 100%;
      }

      .card-body {
        .star-icon {
          position: absolute;
          right: 5px;
          top: -48px;
          padding: 10px;
          .star-icon-bookmark {
            position: relative;
            @extend .shadow-sm;
            height: 35px;
            width: 35px;
            border-radius: 35px;
            line-height: 35px;
            text-align: center;
            background: #fff;
            display: inline-block;
          }
        }
      }

      .car-condition-wrapper {
        height: 25px;
        bottom: 5px;
        position: absolute;
        .car-condition {
          display: inline-block;
          font-size: 11px;
          background-color: #ececec;
          color: $am_dark;
          opacity: 0.8;
          border-radius: 8px;
          line-height: 1.4em;
          padding: 0 10px 0 10px;
          align-self: flex-start;
          left: -3px;
          position: relative;

          .grade {
            background-color: #000;
            position: absolute;
            height: 25px;
            display: inline-block;
            top: -5px;
            width: 25px;
            line-height: 21px;
            border-radius: 20px;
            color: #fff;
            border: 2px solid #fff;
            font-size: 15px;
            text-align: center;

            &.grade-a {
              background-color: #32786b;
            }

            &.grade-b {
              background-color: #c1c951;
            }

            &.grade-c {
              background-color: #89b151;
            }

            &.grade-d {
              background-color: #eeb342;
            }

            &.grade-e {
              background-color: #de7753;
            }
          }

          .grade-label {
            font-style: italic;
            padding-left: 30px;
          }
        }
      }

      .card-title {
        margin-bottom: 0;
        .brand-model {
          text-transform: uppercase;
          color: $am_dark;
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0;
        }

        .price {
          color: $primary;
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0;
          text-align: right;
          small {
            text-transform: uppercase;
            font-size: 0.5rem;
          }
        }

        .immediate-purchase {
          text-align: right;
          font-size: 0.8rem;
          color: $warning;
        }
      }

      .card-footer {
        border: 0;
        @extend .py-2;
      }

      .card-img-top {
        position: relative;
        width: calc(100% + 20px);
        left: -10px;
        height: 250px;
        object-fit: cover;
        z-index: 0;
        @extend .rounded;
      }
      .sold-vehicle-banner {
        position: absolute;
        z-index: 1;
        color: $body-bg;
        text-transform: uppercase;
        font-size: 4rem;
        overflow: hidden;
        @extend .card-img-top;
        span {
          position: absolute;
          display: block;
          width: calc(150%);
          background-color: rgba(245, 81, 81, 0.5);
          transform: rotate(-30deg);
          text-align: center;
          margin-top: calc(15%);
          margin-left: -25%;
        }
      }
    }

    &:hover {
      color: inherit;
      text-decoration: none;

      .card {
        @extend .shadow-lg;
      }
    }
  }
}

.tag {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.25;
  @extend .px-3;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 25px !important;
  border-radius: 4em;
  position: relative;

  .after-slash-divider:after {
    content: "/";
  }

  .after-slash-divider:last-child:after {
    content: "";
  }

  &.tag-white {
    border: 1px solid $blue;
    color: $blue;
  }

  &.tag-blue {
    border: 1px solid $blue;
    color: $white;
    background-color: $blue;
    cursor: pointer;
  }

  &.tag-gray {
    border: 1px solid $am_gray;
    color: $am_gray;

    .tag-close {
      vertical-align: baseline;
      width: 20px;
      cursor: pointer;
      padding: 5px;
      height: 20px;
      position: absolute;
      top: -1px;
    }
  }
}

.tag-list {
  .tag {
    @extend .mb-1;
  }

  @extend .mb-2;
}

.wrapper {
  position: absolute;
  bottom: 46px;
  @include media-breakpoint-up(xs) {
    left: 20%;
  }
  @include media-breakpoint-up(sm) {
    left: 28%;
  }
  @include media-breakpoint-up(lg) {
    left: 30%;
  }
}

.list-table {
  background-color: $card-cap-bg;
  border-radius: 0.5em;
  @extend .px-4;
  @extend .mb-3;

  .cell {
    @include make-col-ready;
    @include make-col(6);

    .item {
      @extend .py-3;
      border-top: 1px solid #babdd3;

      .label,
      a {
        font-size: 0.9em;
        color: $am_gray;
      }

      a {
        text-decoration: underline;
      }

      .value {
        color: #3c4852;
      }
    }

    &:nth-child(-n + 2) .item {
      border-top: 0;
    }
  }
}

.wrapper {
  position: absolute;
  bottom: 46px;
  @include media-breakpoint-up(xs) {
    left: 20%;
  }
  @include media-breakpoint-up(sm) {
    left: 28%;
  }
  @include media-breakpoint-up(lg) {
    left: 30%;
  }
}

.list-ul-container {
  @include media-breakpoint-up(lg) {
    column-count: 2;
    column-gap: $grid-gutter-width;
  }
  .list-ul-block {
    break-inside: avoid;
  }

  .section-title {
    margin-top: 0 !important;
  }
  .list-ul {
    margin-bottom: 3rem !important;
  }
}

.list-ul {
  background-color: $card-cap-bg;
  border-radius: 0.5em;
  list-style: none;
  column-count: 2;
  font-size: 0.9em;

  @extend .px-4;
  @extend .py-3;
  @extend .mb-3;

  @include media-breakpoint-up(md) {
    column-count: 2;
  }

  @include media-breakpoint-up(lg) {
    column-count: 2;
  }

  column-gap: $grid-gutter-width;

  li {
    padding: 0.3em 0;
    line-height: 1.25;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    .fa-circle {
      color: #65ac4e;
      font-size: 0.5em;
      margin-right: 6px;
      position: relative;
      top: -3px;
    }
  }
}

.list-equipment {
  @include make-row();
  margin: 0 !important;
  overflow: hidden;

  .ico {
    background-color: #4167a5;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.75em;
    height: 47px;
    width: 47px;
    margin: 0 auto;
    @extend .mb-2;
    @extend .shadow;

    &.ico-leather_seat {
      background-image: url("../img/ico-leather-seat.png");
    }

    &.ico-gps {
      background-image: url("../img/ico-gps.png");
    }

    &.ico-sunroof {
      background-image: url("../img/ico-sunroof.png");
    }

    &.ico-speed_regulator {
      background-image: url("../img/ico-speed-regulator.png");
    }

    &.ico-parking_assistance {
      background-image: url("../img/ico-parking-assistance.png");
    }

    &.ico-auto_ac,
    &.ico-manual_ac,
    &.ico-air_conditioner {
      background-image: url("../img/ico-air-conditioner.png");
    }
  }

  .cell {
    @include make-col-ready;
    position: relative;
    top: 1px;
    border-right: 1px solid #babdd3;
    border-bottom: 1px solid #babdd3;

    &:only-child {
      border-right: 0;
    }

    &:first-child:nth-last-child(2) ~ .cell {
      border-right: 0;
    }

    @include media-breakpoint-down(md) {
      @include make-col(6);

      &:nth-child(2n) {
        border-right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);

      &:nth-child(3n) {
        border-right: 0;
      }
    }
  }

  .item {
    text-align: center;
    color: #989ea3;
    @extend .pt-3;
    @extend .pb-2;
  }
}

.list-document {
  @include make-row();
  @extend .mb-4;
  overflow: hidden;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @extend .mb-1;
  }

  .cell {
    @include make-col-ready;
    position: relative;
    top: 1px;
    border-right: 1px solid #babdd3;
    border-bottom: 1px solid #babdd3;
    line-height: 1.2;

    &:only-child {
      border-right: 0;
    }

    @include make-col(6);

    &:only-child {
      @include make-col(12);
    }

    &:nth-child(2n) {
      border-right: 0;
    }
  }

  .item {
    text-align: center;
    color: #989ea3;
    &.item:hover {
      text-decoration: underline;
    }
    cursor: pointer;
    @extend .pt-3;
    @extend .pb-2;
  }

  a {
    color: $am_gray;
    font-size: 0.9em;
  }
}
.section-zone {
  .list-zone {
    margin: 20px 0;

    @include media-breakpoint-down(sm) {
      height: 36px;
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
      overflow: hidden;
      padding: 0 30px;

      &:before {
        background-color: #fff;
        background-image: url("../img/arrow-blue-left.svg");
        background-repeat: no-repeat;
        background-position: 0px 3px;
        content: "";
        width: 20px;
        height: 36px;
        display: block;
        position: absolute;
        left: 15px;
      }
      &:after {
        background-color: #fff;
        background-image: url("../img/arrow-blue-right.svg");
        background-repeat: no-repeat;
        background-position: right 3px;
        content: "";
        width: 20px;
        height: 36px;
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
      }

      .item {
        overflow: hidden;

        float: none;
        height: 60px;

        white-space: nowrap;
        list-style: none;
        position: relative;
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
      }
    }

    .item {
      display: block;
      text-align: center;
      &:last-child() {
        margin-left: 0%;
      }
    }

    .label {
      display: inline-block;
      color: #989ea3;
      padding: 2.5px 0;
      margin: 0 10px;
      cursor: pointer;
      border-bottom: 3px solid transparent;

      &:after {
        content: "|";
        color: #ccc;
        margin-left: 8px;
        position: absolute;
        font-weight: lighter;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .label:hover,
    .active-label {
      border-bottom: 3px solid #4167a5;
      color: #4167a5;
    }
  }
}

.list-check {
  font-size: 0.9em;
  border-radius: 0.5em;
  background-color: $card-cap-bg;
  padding: 10px 15px;

  .row {
    @extend .row-thin;

    .col,
    .col-6 {
      @extend .col-thin;
    }
  }

  .item {
    @extend .py-2;
  }

  .fa-check-circle {
    color: #25ae88;
    font-size: 13px;
    margin-right: 3px;
  }

  .flag {
    clip-path: circle(6px at center);
    vertical-align: middle;
    margin-left: -2px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
}

.section-price {
  font-size: 0.9em;
  border-radius: 0.5em;
  background-color: $card-cap-bg;
  padding: 10px 15px;
  text-align: center;
  @extend .mt-2;

  .h5 {
    @extend .mb-0;
    @extend .mt-1;
  }

  .offer-value {
    font-size: 2rem;
    @extend .mb-1;

    sup {
      font-weight: normal;
      text-transform: uppercase;
      top: -0.75em;
      font-size: 50%;
    }
  }
}

.favorie-icon {
  border-radius: 50%;
  background-color: $card-cap-bg;
  padding: 10px 10px;
  text-align: center;
}

form.form-offer {
  input.form-control.rounded {
    background-color: $card-cap-bg !important;
    border: 1px solid $card-cap-bg;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      font-style: italic;
      color: $am_gray;
    }
  }
}

.white-container-wrapper {
  background: white;
  padding-bottom: 75px;
}

.page-car-detail {
  .section-title {
    @extend .mt-5;
  }
  .tab-content {
    width: 100%;
    @extend .container;
  }
}

.car-props {
  border-bottom: 1px solid #babdd3;
  @extend .pb-3;
  @extend .mb-3;

  .star-icon {
    float: right;
    font-size: 1.25em;
  }

  .tag-props {
    background: white;
    display: inline-block;
    margin: 0 auto;
    font-size: 0.85em;
    line-height: 2.1;
    @extend .mt-2;
    @extend .mb-3;
    @extend .px-3;

    border-radius: 1em;

    .tag-prop {
      margin-right: 5px;
      padding-right: 5px;
      border-right: 2px solid #babdd3;
      &:last-child {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  .reseller-block {
    font-size: 0.9em;
    background-color: #e5e5e8;
    border-radius: 10px;
    padding: 10px 15px 10px 45px;
    line-height: 1.2;
    background-image: url("../img/dealer-house.svg");
    background-repeat: no-repeat;
    background-position: left 10px top 15px;
    svg {
      height: 12px;
    }
  }
}

.container-separator {
  background-color: white;
  height: 60;
  margin-top: -30px;
  border-radius: 60px;
  @extend .shadow-sm;

  .container-separator-title {
    background-color: #4167a5;
    color: white;
    display: inline-block;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 40px;
  }
  .container-separator-title-light {
    background-color: rgb(233, 232, 232);
    display: inline-block;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 40px;
  }
}

.grade-bar {
  background-image: url("../img/grade-bar.png");
  height: 10px;
  width: 100%;
  background-size: 100% 10px;
  border-radius: 5px;
  position: relative;
  @extend .mt-3;

  .grade-cursor {
    position: absolute;
    top: -8px;

    .letter {
      background-color: #000;
      height: 25px;
      display: inline-block;
      width: 25px;
      line-height: 21px;
      border-radius: 20px;
      color: #fff;
      border: 2px solid #fff;
      font-size: 15px;
      text-align: center;
    }

    &.grade-cursor-a {
      left: calc(10% - 12px);

      .letter {
        background-color: #32786b;
      }

      .label {
        margin-left: 0;
      }
    }

    &.grade-cursor-b {
      left: calc(31% - 14px);

      .letter {
        background-color: #c1c951;
      }

      .label {
        margin-left: 0;
      }
    }

    &.grade-cursor-c {
      left: calc(51% - 14px);

      .letter {
        background-color: #89b151;
      }

      .label {
        margin-left: -8px;
      }
    }

    &.grade-cursor-d {
      left: calc(71% - 14px);

      .letter {
        background-color: #eeb342;
      }

      .label {
        margin-left: -10px;
      }
    }

    &.grade-cursor-e {
      left: calc(91% - 14px);

      .letter {
        background-color: #de7753;
      }

      .label {
        margin-left: -45px;
      }
    }

    .label {
      display: block;
      font-style: italic;
      font-size: 0.75rem;
      margin-top: 2px;
      color: $am_gray;
      line-height: 1;
    }
  }
}

footer {
  -webkit-box-shadow: 0px 1px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 23px -8px rgba(0, 0, 0, 0.75);
  background-color: white;
  text-align: center;
  height: 30px;
  font-size: 0.85em;
  font-weight: 100;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 0 5px;
      line-height: 30px;
    }
  }

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.page.page-login {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;

  .logo {
    width: 260px;
    @extend .mb-5;
  }

  .login-container {
    max-width: 340px;
    margin: auto;
  }

  .form-group {
    position: relative;
    .icon-info {
      position: absolute;
      left: 16px;
      top: 12px;
      color: #324c89;
    }
    input.form-control {
      padding-left: 3rem !important;
      padding-right: 3rem !important;

      box-shadow: 0px 10px 24px 0 rgba(83, 83, 83, 0.1);
      @extend .mb-4;
      @extend .rounded;
      background-color: white !important;
    }
    button {
      @extend .rounded;
    }
  }

  .languagepicker {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      img {
        width: 25px;
        margin: 0 10px;
      }
    }
  }
}

.header-username {
  color: $blue;
}
.page-dealer-list,
.page-car-list {
  @extend .mb-4;
}

.loading {
  padding: 50vh 0;
  text-align: center;
  font-size: 2rem;
}

.auction {
  position: relative;
}

.countdown {
  background: $blue;
  @extend .small;
  padding: 5px 15px;
  display: inline-block;
  left: -30px;
  top: -5px;
  border-radius: 15px;
  color: white;
  position: relative;
}

.custom-checkbox {
  label {
    text-transform: capitalize;
  }
}
.star-fav {
  cursor: pointer;
}

.switcher {
  margin-bottom: 1rem;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  ul {
    border: 1px solid $primary;
    border-radius: 3em;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    li {
      display: inline-block;
      padding: 7.5px 25px;
      &.active {
        background-color: $primary;
        border-radius: 3em;

        a,
        button {
          color: $body-bg;
        }
      }
      &.inactive {
        a,
        button {
          color: $am_gray;
        }
      }
      a,
      button {
        background: none !important;
        text-transform: capitalize;
        border: none;
        padding: 0 !important;
        outline: 0;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.page-dealer {
  .brands {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    img {
      height: 60px;
    }
  }
}

.page-dealer-list {
  .brands {
    height: 75px;
    margin-top: 15px;
    text-align: left;
    .brand {
      img {
        height: 55px;
      }
    }
  }
}

.brands {
  overflow: hidden;

  .brand {
    border: 1px solid #e5e5e8;
    display: inline-block;
    margin: 0 2.5px 2.5px 2.5px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
    img {
      filter: grayscale(100%);
      padding: 10px 10px 0px 10px;
      display: block;
    }
  }
}

.overflowed-image {
  position: relative;
  width: calc(100% + 48px);
  left: -24px;
  min-height: 200px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 0.4em;
}
.info-two-lines {
  line-height: 1.5em;

  &.closed {
    display: -webkit-box;
    max-height: 4.5em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    .readmore {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      cursor: pointer;
      color: #ccc;
      padding-left: 10px;
      text-decoration: underline;
    }
    .readless {
      display: none;
    }
  }

  &.open {
    .readmore {
      display: none;
    }

    .readless {
      cursor: pointer;
      color: #ccc;
      padding-left: 10px;
      text-decoration: underline;
    }
  }

  @extend .small;
  @extend .text-secondary;
  @extend .mb-0;
}

.documentation {
  @extend .table;
  color: $secondary;
  border-bottom: 1px solid #babdd3;
  thead {
    th {
      border: 0;
      font-weight: normal;
      color: $primary;
    }
  }
  th,
  td {
    padding: 0.5rem;
  }
  td {
    border-top: 1px solid #babdd3;
  }
  td.icon {
    width: 40px;
    color: $primary;
    text-align: center;
    img {
      height: 16px;
      cursor: pointer;
    }
    svg {
      cursor: pointer;
    }
  }
}

.dealer-sticky-title {
  position: sticky;
  top: 0;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  padding: 20px 0;
  color: $primary;
  margin-bottom: 30px;
  background-color: $body-bg;
  z-index: 1;
}

@import "carousel";
